<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Tracker Profile</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">

</head>
<body>
    <h1>Welcome to the Bug Tracker</h1>
    <nav>
      <ul>
        <li><a href="#submit-a-bug">Submit a Bug</a></li>
        <li><a href="#view-bugs">View Bugs</a></li>
      </ul>
    </nav>
    <h2 id="submit-a-bug">Submit a Bug</h2>
    <form action="" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title"><br>
      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea><br>
      <input type="submit" value="Submit">
    </form>
    <h2 id="view-bugs">View Bugs</h2>
    <ul id="bug-list"></ul>
    <a href="/account/logout">Logout</a>
</body>
</html>