<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bug Tracker Profile</title>
    <link rel="stylesheet" type="text/css" href="../public/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/02fd43601a.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar justify-content-end bg-light">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#submit-a-bug">Submit a Bug</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#view-bugs">View Bugs</a>
      </li>
      <li class="nav-item">
      <a class="nav-link disabled" id="greeting-text" href="#" tabindex="-1" aria-disabled="true"></a>
     </li>  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="user-icon fa-solid fa-circle-user"></i>
       </a>
        <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/account/logout">Logout</a>
                  
          </u>
        </nav>
      <div class="container">  
       <div class="card m-auto mt-4" style="width: 50rem;">
      <h5 class="card-header">Submit a bug</h5>
         <form id="newBug" class="check-validation" novalidate>
      <div class="card-body">    
        <div class="row g-2 align-items-center">
          <div class="col-auto">
          <label for="title" class="col-form-label">Title*:</label>
            </div>
          <div class="col-auto">
          <input type="text" id="title" name="title" class="form-control" required>
          <div class="invalid-feedback"></div>
            </div>            
          </div>
          
        <div class="mb-2">
          <label for="description">Description*:</label>
          <textarea id="description" name="description" class="form-control" rows="3" required></textarea><br>
          <div class="invalid-feedback"></div>
          </div>
        <div class="mb-3 row g-2 align-items-center">
          <div class="col-auto">
          <label for="assigned_to" class="col-form-label">Assigned to:</label>
            </div>
          <div class="col-auto">
          <input type="text" id="assigned_to" name="assigned_to" class="form-control">
            </div>
          </div>
        <div class="mb-3 row g-2 align-items-center">
          <div class="col-auto">
          <label for="priority" class="col-form-label">Priority:</label>
            </div>
          <div class="col-auto">
          <select class="form-select" name="priority" id="priority">
            <option value="" disabled selected>Bug priority</option>
            <option value="urgent">Urgent</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
          </select>
            </div>
          </div>
        <input type="submit" class="btn btn-primary" value="Submit">
      </div>
           </form>
    </div>
      </div>
    <div id="view-bugs">      
    <h2>View Bugs</h2>
    <div id="find-sort">
      <input type="text" name="search" id="search" placeholder="Search for bugs..." title="">
      <i class="fa-solid fa-magnifying-glass"></i>
      <div id="sort">
        <a class="sort-btn" href="javascript:void(0)">Sort by
          <i class="fa-solid fa-chevron-down sort-btn"></i></a>
          <div id="dropdown" class="dropdown-content">
            <a class="sort-option" name="priority" href="javascript:void(0)">Priority</a>
            <a class="sort-option" name="recent" href="javascript:void(0)">Recent</a>
            <a class="sort-option" name="oldest" href="javascript:void(0)">Oldest</a>
            <a class="sort-option" name="update" href="javascript:void(0)">Update</a>
          </div>
      </div>
    </div>
    <div id='bugList'></div>
  </div>

    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>      
      let url = '/profile/api'

      function dateInLocaleTime(date) {
        let month = {
    	    Jan: '01',
      	  Feb: '02',
      	  Mar: '03',
      	  Apr: '04',
      	  May: '05',
      	  Jun: '06',
      	  Jul: '07',
      	  Aug: '08',
      	  Sep: '09',
      	  Oct: '10',
      	  Nov: '11',
      	  Dec: '12'
        };
        const str = new Date(date).toString();
        let strMonth = month[str.slice(4, 7)]
        const newStr = `${str.slice(11,15)}/${strMonth}/${str.slice(8,10)} ${str.slice(16,21)}`;
        return newStr;
      }

      function findSelectedPriority(elementPriority) {
        let arr = ['<option value="">Bug priority</option>',
        '<option value="urgent">Urgent</option>',
        '<option value="medium">Medium</option>',
        '<option value="low">Low</option>'
        ]
        let newArr = [];
        if (elementPriority) {
          for (let i = 0; i < arr.length; i++) {
            if (arr[i].includes(elementPriority)) {
              newArr.push(arr[i].slice(0, 7) + ' selected' + arr[i].slice(7));
            } else {newArr.push(arr[i])}
          }
          return newArr.join("");
        } else {return arr.join("")}
      }

      function dataToHtml(data) {
        let issues = [];
        data.forEach(function(element) {
          (element.open) ? openStatus = 'open' : openStatus = 'closed';
          (element.priority) ? priority = element.priority.charAt(0).toUpperCase() + element.priority.slice(1) : priority = '';          
          let single = [
            '<div id="'+element._id+'" class="bug-issue '+openStatus+'">',
            '<h3>'+element.bug_title+' - ('+openStatus+')</h3>',
            '<br>',
            '<p class="description">'+element.bug_description+'</p>',
            '<p class="'+element.priority+' priority"><b>Priority:</b> '+priority+'</p>',
            '<p class="created_by" id="'+element.created_by+'"><b>Created by:</b> '+element.created_by+'       <b>Assigned to:</b> '+element.assigned_to+'</p>',
            '<p class="created_on" id="'+dateInLocaleTime(element.created_on)+'"><b>Created on:</b> '+dateInLocaleTime(element.created_on)+'       <b>Last updated:</b> '+dateInLocaleTime(element.updated_on)+'</p><br>',
            '</div>'
          ];

          (element.open) ? check = '' : check = ' checked';
          let modal = [
          '<div id="modal-data-'+element._id+'" class="modal" tabindex="-1" role="dialog"><div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title">Update bug issue</h5><button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>',
          '<div class="modal-body"><form class="container-fluid"><div class="row g-2 align-items-center"><div class="col-auto"><label for="title"><b>Title:</b></label></div><div class="col-auto"><input type="text" class="title form-control" name="title" value="'+element.bug_title+'"></div></div>',
          '<br><label for="description"><b>Description:</b></label><br><textarea class="description form-control" name="description">'+element.bug_description+'</textarea><br>',
          '<div class="row g-2 align-items-center"><div class="col-auto"><label for="priority"><b>Priority:</b></label></div><div class="col-auto"><select name="priority" id="priority" class="form-select form-select-sm" aria-label=".form-select-sm example">'+findSelectedPriority(element.priority)+'</select></div></div><br>',
          '<div class="row align-items-center"><div class="col-auto"><p><b>Created by:</b></p></div><div class="col-auto"><input class="form-control" type="text" value="'+element.created_by+'" aria-label="Disabled input" disabled readonly></div>',
          '<div class="col-auto"><label for="assigned_to"><b>Assigned to:</b></label></div><div class="col-auto"><input type="text" name="assigned_to" value="'+element.assigned_to+'" class="form-control"></div></div><br>',
          '<div class="row align-items-center"><div class="col-auto"><p><b>Created on:</b></p></div><div class="col-auto"><input class="form-control" type="text" value="'+dateInLocaleTime(element.created_on)+'" aria-label="Disabled input" disabled readonly></div>',
          '<div class="col-auto"><p><b>Last updated:</b></p></div><div class="col-auto"><input class="form-control" type="text" value="'+dateInLocaleTime(element.updated_on)+'" aria-label="Disabled input" disabled readonly></div></div><br>',
          '<div class="form-check form-switch"><input class="form-check-input" type="checkbox" name="close" id="openSwitch"'+check+'><label class="form-check-label" for="flexSwitchCheckDefault">Check to close bug issue</label></div><br>',
          '<div class="modal-footer"><div class="row justify-content-between"><div class="col-auto"><button type="button" class="btn btn-outline-danger" data-bs-target="#modalDeleteIssue-'+element._id+'" data-bs-toggle="modal" data-bs-dismiss="modal">Delete issue</button></div>',
          '<div class="col-auto"><button id="'+element._id+'" type="button" class="saveButton btn btn-primary">Save changes</button><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button></div>',
          '</div></div></form></div></div></div></div>',
          '<div class="modal" id="modalDeleteIssue-'+element._id+'" aria-hidden="true" aria-labelledby="modalDeleteIssue" tabindex="-1"><div class="modal-dialog modal-dialog-centered"><div class="modal-content"><div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>',
          '<div class="modal-body"><p>Do you wish to delete this bug issue?</p></div><div class="modal-footer"><button id="'+element._id+'" class="btn btn-primary deleteIssue" data-bs-dismiss="modal">Delete</button><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>',
          '</div></div></div></div>'
          ]
          
          issues.push(single.join(''), modal.join(''));
        });
        $('#bugList').html(issues.join(''));
      }

      // Set greeting text
      $( function() {
        $.ajax({
           url: '/profile/api/user',
           type: 'get',
           success: function(data) {
            (data.username) ? user = data.username : user = data.name;
            $('#greeting-text').text(`Hello ${user}!`);
           }
        })        
        }
      )

      // Submit new bug issue
      $(function() {
        $('#newBug').submit(function(e) {
          // First check form valididation
          if(!this.checkValidity()) {
            e.preventDefault()
            e.stopPropagation()
          }
          $('.check-validation').addClass('was-validated');

          // Send data to server
          $.ajax({
            url: '/profile/api',
            type: 'post',
            data: $('#newBug').serialize(),
            success: function(data) {window.location.reload(true);}
          });
          e.preventDefault();
        })
      })

      // Update bug issue data
      $('#bugList').on('click', '.saveButton', function(e) {
        const url = '/profile/api/' + $(this).attr('id');
        $.ajax({
          url: url,
          type: 'put',
          data: $(this).parents('form').serialize(),
          success: function() {window.location.reload(true);}
        });
        e.preventDefault();
      })

      // Search bugs
      $('#search').keypress(function(e) {        
        if (e.which === 13) {
          url = url + '?search=' + $(this).val();
          $.ajax({
            type: 'GET',
            url: url,
            success: function(data) {
              url = '/profile/api';
              dataToHtml(data);
              return url;
            }
          })
        }
      })

      // Sorting bugs
      $('.sort-option').on('click', function(e) {
        if ($('#search').val()) {
          url = url + '?sort=' + $(this).attr('name') + '&search=' + $('#search').val();
        } else {
          url = url + '?sort=' + $(this).attr('name');
        }
        $.ajax({
          type: 'get',
          url: url,
          success: function(data) {
            url = '/profile/api';
            dataToHtml(data);
            return url;
          }
        })
        e.preventDefault();
      })

      // GET all the submitted bugs
      $(function() {
        $.ajax({
          type: "GET",
          url: url,
          success: function(data) {
            dataToHtml(data);
          }
        })
      })

      // Delete issue
      $('#bugList').on('click', '.deleteIssue', function(e) {
        let url = "/profile/api/" + $(this).attr('id');
        $.ajax({
          type: "DELETE",
          url: url,
          success: function(data) {window.location.reload(true);}
        }); 
        e.preventDefault();
      })

      // Show and hide sort dropdown
      $(window).on('click',function(event) {
        const e = event.target;
        if ((!$('#dropdown').hasClass('show') && $(e).hasClass('sort-btn')) || ($('#dropdown').hasClass('show') && !$(e).hasClass('sort-option'))) {
          $('#dropdown').toggleClass('show');
        }
      })

      // Show modal
      $(document).on('dblclick', '.bug-issue', function() {
        let modalId = '#modal-data-' + $(this).attr('id');
        $(modalId).modal('show');
      })
    </script>
</body>
</html>